<div  *ngIf="!isCustomerLoggedIn">
<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">Jeux Olympique Paris 2024 </span>
  <span class="spacer"> </span>
  <button mat-button routerLink="/order" routerLinkActive="active">Track order</button>
  <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
</mat-toolbar>
</div>

<div  *ngIf="isCustomerLoggedIn">

  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Commerce</span>
    <span class="spacer"> </span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
    <button mat-button routerLinkActive="active" (click)="logout()" >Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
